body {
    margin: 20px;
    display: flex;
    justify-content: center;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 200px; 
    display: block;
}

.card {
    width: inline-flex;
    height: inline-flex;
    /* margin: 0 auto; */
    padding: 16px 32px;
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: center;
    text-align: center;
    background: #1b263b;
    color: #e0e1dd;
    border-bottom: 6px solid #0d1b2a;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

.textbox {
    width: 233px;
}

.crop {
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.crop img {
    height: 250px;
    width: 256px;
    margin: -20px 0 0 -50px;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

